<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sistema de Carga de Horas</title>
<style>
    body{
        background-color:powderblue;
    }
    tbody{
    	text-align: center
    }
    thead{
   		text-align: center;
    }
</style>
<script type="text/javascript" src="../resources/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../resources/angular/controllers/carga-horas-controller.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/proyecto-factory.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/tarea-factory.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/asignacion-factory.js"></script>
</head>
<body>
<h1>Sistema de Carga de Horas</h1>
<div style="display: inline-flex;" ng-app="aninfoApp" ng-controller="cargaHorasController">
    <div ng-init="init()">
	<form>
		Seleccione la fecha
		<br>
		<input type="date" ng-model="horasCargadas.selectedDate">
		<br>
		<br>
		Inicio
		<br>
		<input type="number" name="horaInicial" ng-change="calcularTotal()" ng-model="horasCargadas.horaInicial" min="0" max="23">
		:
		<input type="number" name="minutoInicial" ng-change="calcularTotal()" ng-model="horasCargadas.minutoInicial" min="0" max="59">
		hs
		<br>
		Fin
		<br>
		<input type="number" name="horaFinal" ng-change="calcularTotal()" ng-model="horasCargadas.horaFinal" min="0" max="23">
		:
		<input type="number" name="minutoFinal" ng-change="calcularTotal()" ng-model="horasCargadas.minutoFinal" min="0" max="23">
		hs
		<br>
		<br>
		Horas Totales:
		<br>
		<input type="number" name="horasTotales" ng-model="horasCargadas.cantidadDeHoras" disabled min="0" max="24">
		<br>
		<br>
		<button ng-click="cargarHoras()">Enviar</button>
	</form>      
    </div>
    <div>
        Seleccione la tarea
	<br>
	<select ng-options="tarea as tarea.nombre for tarea in tareas track by tarea.codigo" ng-model="horasCargadas.tarea">
	</select>
	<br>
	<br>
	Comentarios
	<br>
	<textarea rows="5" cols="25" ng-model="horasCargadas.descripcion">Ingrese sus comentarios.
	</textarea>
    </div>
    <div>
    	Lista de Horas cargadas
    	<table>
    		<thead>
    			<tr>
    				<th style="width: 15%">Fecha</th>
    				<th style="width: 15%">Empleado</th>
    				<th style="width: 15%">Proyecto</th>
    				<th style="width: 15%">Tarea</th>
    				<th style="width: 15%">Cantidad de Horas</th>
    				<th style="width: 15%">Descripcion</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="hora in hours">
    				<td style="width: 15%">{{hora.fecha}}</td>
    				<td style="width: 15%">{{hora.empleado}}</td>
    				<td style="width: 15%">{{hora.proyecto}}</th>
    				<td style="width: 15%">{{hora.tarea}}</td>
    				<td style="width: 15%">{{hora.cantidadDeHoras}}</td>
    				<td style="width: 15%">{{hora.descripcion}}</td>
    			</tr>
    		</tbody>
    	</table>
    	<button ng-click="consultarHoras()">Recargar</button>
    </div>
</div>
</body>
</html>