<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carga de Horas</title>

<!-- JQuery -->
<script src="../resources/js/jquery-2-1-3.min.js"></script>

<!-- AngularJS -->
<script type="text/javascript" src="../resources/angular/angular.min.js"></script>
<script type="text/javascript"
	src="../resources/angular/controllers/carga-horas-controller.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/proyecto-factory.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/tarea-factory.js"></script>
<script type="text/javascript"
	src="../resources/angular/factorys/asignacion-factory.js"></script>

<!-- Bootstrap -->
<link href="../resources/css/bootstrap.min.css" rel="stylesheet">
<script src="../resources/js/bootstrap.min.js"></script>

<style>
.cargarHorasContainer{
	display: inline-flex;
	padding-left: 2%;
	padding-right:2%
}
.botonRegargarTablaHoras{
	float: right;
}
</style>

</head>
<body>
<h2>Sistema de Carga de Horas</h2>
<div class="cargarHorasContainer" ng-app="aninfoApp" ng-controller="cargaHorasController">
    <div ng-init="init()" class="form-group">
	<form class="form-inline">
		<label>Seleccione la fecha</label>
		<br>
		<input class="form-control" type="date" ng-model="horasCargadas.selectedDate">
		<br>
		<br>
		Inicio
		<br>
		<input class="form-control" type="number" name="horaInicial" ng-change="calcularTotal()" ng-model="horasCargadas.horaInicial" min="0" max="23">
		:
		<input class="form-control" type="number" name="minutoInicial" ng-change="calcularTotal()" ng-model="horasCargadas.minutoInicial" min="0" max="59">
		hs
		<br>
		Fin
		<br>
		<input class="form-control" type="number" name="horaFinal" ng-change="calcularTotal()" ng-model="horasCargadas.horaFinal" min="0" max="23">
		:
		<input class="form-control" type="number" name="minutoFinal" ng-change="calcularTotal()" ng-model="horasCargadas.minutoFinal" min="0" max="23">
		hs
		<br>
		<br>
		Horas Totales:
		<br>
		<input class="form-control" type="number" name="horasTotales" ng-model="horasCargadas.cantidadDeHoras" disabled min="0" max="24">
		<br>
		<br>
		<button ng-click="cargarHoras()" class="btn btn-default">Enviar</button>
	</form>      
    </div>
    <div class="form-group">
        <label>Seleccione la tarea</label>
	<br>
	<select class="form-control" 
			ng-options="tarea as tarea.nombre for tarea in tareas track by tarea.codigo" 
			ng-model="horasCargadas.tarea">
	</select>
	<br>
	<br>
	<label>Comentarios</label>
	<br>
	<textarea  class="form-control" 
			   rows="5" cols="25" 
			   ng-model="horasCargadas.descripcion">Ingrese sus comentarios.
	</textarea>
    </div>
    <div>
    	<label>Lista de Horas cargadas</label>
    	<button class="btn btn-info botonRegargarTablaHoras" ng-click="consultarHoras()">
    		<span class="glyphicon glyphicon-refresh"></span>
    	</button>
    	<table class="table table-striped">
    		<thead>
    			<tr>
    				<th style="width: 15%">Fecha</th>
    				<th style="width: 15%">Empleado</th>
    				<th style="width: 15%">Proyecto</th>
    				<th style="width: 15%">Tarea</th>
    				<th style="width: 15%">Cantidad de Horas</th>
    				<th style="width: 15%">Descripcion</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr ng-repeat="hora in hours">
    				<td style="width: 15%">{{hora.fecha}}</td>
    				<td style="width: 15%">{{hora.empleado}}</td>
    				<td style="width: 15%">{{hora.proyecto}}</th>
    				<td style="width: 15%">{{hora.tarea}}</td>
    				<td style="width: 15%">{{hora.cantidadDeHoras}}</td>
    				<td style="width: 15%">{{hora.descripcion}}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>
</div>
</body>
</html>