<!DOCTYPE html>
<html>

<head>
<script type="text/javascript" src="resources/angular/angular.min.js"></script>
<script type="text/javascript"
	src="resources/angular/controllers/main-controller.js"></script>
</head>

<body>
	<h2>Hola, ingresa tu nombre:</h2>
	<div ng-app="aninfoApp" ng-controller="mainController">
		<p>
			Nombre: <input type="text" ng-model="name">
		</p>
		<div>Hola {{name}}</div>
		<div ng-init="init()">
			<p>
				Cantidad de Horas:  <input type="number" ng-model="newLoad.cantidadDeHoras">
				Dia:  <input type="number" ng-model="newLoad.dia">
				Mes:  <input type="number" ng-model="newLoad.mes">
				A&ntilde;o:  <input type="number" ng-model="newLoad.anio">
			</p>
		</div>
		<div>
			<input type="button" ng-click="cargarHoras()" value="Enviar">
		</div>
	</div>
</html>
