<!DOCTYPE html>
<html>

<head>
<style>
	body{
        background-color:powderblue;
    }
    tbody{
    	text-align: center
    }
    thead{
   		text-align: center;
    }
</style>
<script type="text/javascript" src="resources/angular/angular.min.js"></script>
<script type="text/javascript"
	src="resources/angular/controllers/main-controller.js"></script>
<script type="text/javascript"
	src="resources/angular/factorys/empleado-factory.js"></script>
<script type="text/javascript">
    var _contextPath = "${pageContext.request.contextPath}";
</script>
</head>

<body>
	<h2>Seleccione un Perfil</h2>
	<div ng-app="aninfoApp" ng-controller="mainController">
		<div ng-init="init()">
			<table>
	    		<thead>
	    			<tr>
	    				<th style="width: 25%">DNI</th>
	    				<th style="width: 25%">Nombre</th>
	    				<th style="width: 25%">Rol</th>
	    				<th style="width: 25%">Acceso</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			<tr ng-repeat="empleado in empleados track by empleado.dni">
	    				<td style="width: 25%">{{empleado.dni}}</td>
	    				<td style="width: 25%">{{empleado.nombre}}</td>
	    				<td style="width: 25%">{{empleado.rolEmpleado.rol}}</th>
	    				<td style="width: 25%"><button><a ng-href="{{empleado.rolEmpleado.url}}/{{empleado.dni}}">Acceder</a></button></td>
	    			</tr>
	    		</tbody>
    		</table>
		</div>
	</div>
</html>
